{% extends "base_generic.html" %}
{% block title %} <title> Inventory Management </title> {% endblock %}

{% block content %}
    
    <!--
        {% for table in tables %}
            {{titles[loop.index]}}
            {{ table|safe }}
        {% endfor %}
    -->
    {{db}}
      <p></p>
    
        <form action="/" method="POST" enctype="multipart/form-data">
      <p></p>

        <form action="/" method="POST" enctype="multipart/form-data">
      <p></p>

        <form action="/" method="POST" enctype="multipart/form-data">
      <p></p>

        <form action="/" method="POST" enctype="multipart/form-data">
      <p></p>

        <form action="/" method="POST" enctype="multipart/form-data">
      <p></p>

        <form action="/" method="POST" enctype="multipart/form-data">
      <p></p>

        <form action="/" method="POST" enctype="multipart/form-data">
          <input type="file" id="trainingData" name="filename">
          <input type="submit">
        </form>

{% endblock %}